@model IEnumerable<Subsogator.Web.Models.Screenwriters.ViewModels.AllScreenwritersViewModel>

@{
    ViewData["Title"] = "Screenwriters List";
}

<h3>@ViewData["Title"]</h3>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Screenwriter</a>
</p>
@if (TempData["ScreenwriterSuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["ScreenwriterSuccessMessage"]
    </div>
}
<table class="table table-bordered table-dark table-striped table-hover mt-3">
    <thead class="thead-light">
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(screenwriter => screenwriter.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(screenwriter => screenwriter.LastName)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var screenwriter in Model)
        {
            <tr class="text-center">
                <td>
                    @Html.DisplayFor(screenwriterModelItem => screenwriter.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(screenwriterModelItem => screenwriter.LastName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@screenwriter.Id" class="btn btn-light">Edit</a>
                    <a asp-action="Details" asp-route-id="@screenwriter.Id" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@screenwriter.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
