@model Subsogator.Web.Models.Languages.ViewModels.LanguageDetailsViewModel

@{
    ViewData["Title"] = "Language Details";
}

<h3>@ViewData["Title"]</h3>

<div>
    <hr />
    <dl class="row bg-secondary">
        <dt class="col-sm-2 text-white bg-info font-weight-normal">
            @Html.DisplayNameFor(language => language.Name)
        </dt>
        <dd class="col-sm-10 text-light">
            @Html.DisplayFor(language => language.Name)
        </dd>
        <dt class="col-sm-2 text-white bg-info font-weight-normal">
            @Html.DisplayNameFor(language => language.CreatedOn)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(language => language.CreatedOn)
        </dd>
        <dt class="col-sm-2 text-white bg-info font-weight-normal">
            @Html.DisplayNameFor(language => language.CreatedBy)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(language => language.CreatedBy)
        </dd>
        <dt class="col-sm-2 text-white bg-info font-weight-normal">
            @Html.DisplayNameFor(language => language.ModifiedOn)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(language => language.ModifiedOn)
        </dd>
        <dt class="col-sm-2 text-white bg-info font-weight-normal">
            @Html.DisplayNameFor(language => language.ModifiedBy)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(language => language.ModifiedBy)
        </dd>
        <dt class="col-sm-2 text-white bg-info font-weight-normal">
            Related Film Productions
        </dt>
        <dd class="col-sm-10 text-white">
            @if (Model.RelatedFilmProductions.Count() > 0)
            {
                <table class="table table-striped table-light table-hover">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Duration</th>
                            <th>Release Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var filmProduction in Model.RelatedFilmProductions)
                        {
                            <tr>
                                <td>
                                    @filmProduction.Title
                                </td>
                                <td>
                                    @filmProduction.Duration
                                </td>
                                <td>
                                    @filmProduction.ReleaseDate.ToShortDateString()
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            }
            else
            {
                <div>No Related Film Productions</div>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-dark">Edit Language</a>
</div>
