@model Subsogator.Web.Models.FilmProductions.ViewModels.FilmProductionFullDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FilmProduction</h4>
    <hr />
    <dl class="row bg-secondary">
        <dt class="col-sm-2 text-white bg-info font-weight-normal">
            @Html.DisplayNameFor(filmProduction => filmProduction.Title)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(filmProduction => filmProduction.Title)
        </dd>
        <dt class="col-sm-2 text-white bg-info font-weight-normal">
            @Html.DisplayNameFor(filmProduction => filmProduction.Duration)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(filmProduction => filmProduction.Duration)
        </dd>
        <dt class="col-sm-2 text-white bg-info font-weight-normal">
            @Html.DisplayNameFor(filmProduction => filmProduction.ReleaseDate)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(filmProduction => filmProduction.ReleaseDate)
        </dd>
        <dt class="col-sm-2 text-white bg-info font-weight-normal">
            @Html.DisplayNameFor(filmProduction => filmProduction.PlotSummary)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(filmProduction => filmProduction.PlotSummary)
        </dd>
        <dt class="col-sm-2 text-white bg-info font-weight-normal">
            @Html.DisplayNameFor(filmProduction => filmProduction.CountryName)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(filmProduction => filmProduction.CountryName)
        </dd>
        <dt class="col-sm-2 text-white bg-info font-weight-normal">
            @Html.DisplayNameFor(filmProduction => filmProduction.LanguageName)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(filmProduction => filmProduction.LanguageName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-dark">Edit</a>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
