@model Subsogator.Web.Models.FilmProductions.ViewModels.FilmProductionFullDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FilmProduction</h4>
    <hr />
    <dl class="row bg-secondary">
        <dt class="col-sm-2 text-white bg-info font-weight-normal">
            @Html.DisplayNameFor(filmProduction => filmProduction.Title)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(filmProduction => filmProduction.Title)
        </dd>
        <dt class="col-sm-2 text-white bg-info font-weight-normal">
            @Html.DisplayNameFor(filmProduction => filmProduction.Duration)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(filmProduction => filmProduction.Duration)
        </dd>
        <dt class="col-sm-2 text-white bg-info font-weight-normal">
            @Html.DisplayNameFor(filmProduction => filmProduction.ReleaseDate)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(filmProduction => filmProduction.ReleaseDate)
        </dd>
        <dt class="col-sm-2 text-white bg-info font-weight-normal">
            @Html.DisplayNameFor(filmProduction => filmProduction.PlotSummary)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(filmProduction => filmProduction.PlotSummary)
        </dd>
        <dt class="col-sm-2 text-white bg-info font-weight-normal">
            @Html.DisplayNameFor(filmProduction => filmProduction.CountryName)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(filmProduction => filmProduction.CountryName)
        </dd>
        <dt class="col-sm-2 text-white bg-info font-weight-normal">
            @Html.DisplayNameFor(filmProduction => filmProduction.LanguageName)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(filmProduction => filmProduction.LanguageName)
        </dd>
        <dt class="col-sm-2 text-white bg-info font-weight-normal">
            @Html.DisplayNameFor(filmProduction => filmProduction.ImageName)
        </dt>
        <dd class="col-sm-10 text-white">
            @if (Model.ImageName != null)
            {
                <img src="~/images/film-productions/@Model.ImageName"
                 class="rounded-square"
                 asp-append-version="true" style="width: 300px; height: 300px;" />
                <br />
                <span><a href="~/images/film-productions/@Model.ImageName" style="color: white;">@Model.ImageName</a></span>
            }
            else 
            {
                <p>No Image</p>
            }
        </dd>
        <dt class="col-sm-2 text-white bg-info font-weight-normal">
            @Html.DisplayNameFor(filmProduction => filmProduction.CreatedOn)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(filmProduction => filmProduction.CreatedOn)
        </dd>
        <dt class="col-sm-2 text-white bg-info font-weight-normal">
            @Html.DisplayNameFor(filmProduction => filmProduction.CreatedBy)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(filmProduction => filmProduction.CreatedBy)
        </dd>
        <dt class="col-sm-2 text-white bg-info font-weight-normal">
            @Html.DisplayNameFor(filmProduction => filmProduction.ModifiedOn)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(filmProduction => filmProduction.ModifiedOn)
        </dd>
        <dt class="col-sm-2 text-white bg-info font-weight-normal">
            @Html.DisplayNameFor(filmProduction => filmProduction.ModifiedBy)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(filmProduction => filmProduction.ModifiedBy)
        </dd>
        <dt class="col-sm-2 text-white bg-info font-weight-normal">
            @Html.DisplayNameFor(filmProduction => filmProduction.RelatedGenres)
        </dt>
        <dd class="col-sm-10 text-white">
            <span>@string.Join(", ", Model.RelatedGenres)</span>
        </dd>
        <dt class="col-sm-2 text-white bg-info font-weight-normal">
            @Html.DisplayNameFor(filmProduction => filmProduction.RelatedActors)
        </dt>
        <dd class="col-sm-10 text-white">
            <span>@string.Join(", ", Model.RelatedActors.Select(ra => $"{ra.Item1} {ra.Item2}"))</span>
        </dd>
        <dt class="col-sm-2 text-white bg-info font-weight-normal">
            @Html.DisplayNameFor(filmProduction => filmProduction.RelatedDirectors)
        </dt>
        <dd class="col-sm-10 text-white">
            <span>@string.Join(", ", Model.RelatedDirectors.Select(rd => $"{rd.Item1} {rd.Item2}"))</span>
        </dd>
        <dt class="col-sm-2 text-white bg-info font-weight-normal">
            @Html.DisplayNameFor(filmProduction => filmProduction.RelatedScreenwriters)
        </dt>
        <dd class="col-sm-10 text-white">
            <span>@string.Join(", ", Model.RelatedScreenwriters.Select(rs => $"{rs.Item1} {rs.Item2}"))</span>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-dark">Edit</a>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
