@model Subsogator.Web.Models.SubtitlesCatalogue.CatalogueItemsWithPaginationViewModel

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <b>Search for subtitles: </b>
            <input type="text" name="SearchTerm" class="search-term-input"
                   value="@ViewData["SubtitlesCatalogueSearchFilter"]" />
            <input type="submit" value="Search" class="btn btn-success" />
            <a asp-action="Index" class="btn btn-primary">Reset</a>
        </p>
    </div>
</form>

<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div class="row">
                @foreach (var subtitles in Model.AllSubtitlesForCatalogue)
                {
                    <div class="col-sm-12 col-md-4 p-1">
                        <div class="custom-column">
                            <div class="custom-column-content">
                                @if (subtitles.RelatedFilmProduction.ImageName != null)
                                {
                                    <img src="~/images/film-productions/@subtitles.RelatedFilmProduction.ImageName"
                                         class="rounded-square"
                                 asp-append-version="true" style="width: 100%; height: 300px;" />
                                    <br />
                                }
                                else
                                {
                                    <img src="~/images/film-productions/istockphoto-1147544807-612x612.jpg" style="width: 100%; height: 300px;" />
                                }
                            </div>
                            <div class="custom-column-header">@Html.DisplayFor(subtitlesModelItem => subtitles.Name)</div>
                            <div class="custom-column-footer"><a class="btn btn-success" asp-action="Details" asp-route-id="@subtitles.Id">View</a></div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-lg-3">
            @if (!Model.LatestComments.Any())
            {
                <h5>There are currently no comments</h5>
            }
            else
            {
                <div class="mb-5">
                    <h5>Latest Comments</h5>
                    <ul class="list-group">
                        @foreach (var latestComment in Model.LatestComments)
                        {
                            <li class="list-group-item">
                                @latestComment.UserName commented on
                                <a class="link-primary" asp-action="Details" asp-route-id="@latestComment.SubtitlesId">
                                    @latestComment.SubtitlesName
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            }

            @if (!Model.TopSubtitles.Any())
            {
                <h5>No subtitles have been added to favourites yet</h5>
            }
            else
            {
                <div>
                    <h5>Top Subtitles</h5>
                    <ul class="list-group mb-3">
                        @foreach (var topSubtitlesEntry in Model.TopSubtitles)
                        {
                            <li class="list-group-item">
                                <a class="link-primary" asp-action="Details" asp-route-id="@topSubtitlesEntry.Id">
                                    @topSubtitlesEntry.Name
                                </a>
                                uploaded by @topSubtitlesEntry.UploaderUserName
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-5">
        <a asp-action="Index"
           asp-route-pageNumber="@(Model.AllSubtitlesForCatalogue.PageIndex - 1)"
           asp-route-pageSize="@ViewData["CurrentPageSize"]"
           asp-route-currentFilter="@ViewData["SubtitlesCatalogueSearchFilter"]"
           class="btn btn-outline-primary @(!Model.AllSubtitlesForCatalogue.HasPreviousPage ? "disabled" : "")">
            Previous
        </a>

        @for (int pageIndex = 1; pageIndex <= @Model.AllSubtitlesForCatalogue.TotalPages; pageIndex++)
        {
            <a class="btn @(Model.AllSubtitlesForCatalogue.PageIndex == pageIndex ? "btn-primary" : "btn-outline-primary")"
               asp-action="Index"
               asp-route-currentFilter="@ViewData["SubtitlesCatalogueSearchFilter"]"
               asp-route-pageSize="@ViewData["CurrentPageSize"]"
               asp-route-pageNumber="@pageIndex">
                @pageIndex
            </a>
        }

        <a asp-action="Index"
           asp-route-pageNumber="@(Model.AllSubtitlesForCatalogue.PageIndex + 1)"
           asp-route-pageSize="@ViewData["CurrentPageSize"]"
           asp-route-currentFilter="@ViewData["SubtitlesCatalogueSearchFilter"]"
           class="btn btn-outline-primary @(!Model.AllSubtitlesForCatalogue.HasNextPage ? "disabled" : "")">
            Next
        </a>
    </div>
</div>

<div class="row">
    <div class="col-5">
        <div class="mt-2">Page @Model.AllSubtitlesForCatalogue.PageIndex out of @Model.AllSubtitlesForCatalogue.TotalPages </div>
    </div>
</div>
