@model Subsogator.Web.Models.Actors.ViewModels.ActorDetailsViewModel

@{
    ViewData["Title"] = "Actor Details";
}

<h3>@ViewData["Title"]</h3>

<div>
    <h4>Actor</h4>
    <hr />
    <dl class="row bg-secondary">
        <dt class = "col-sm-2 text-dark bg-light">
            @Html.DisplayNameFor(actor => actor.FirstName)
        </dt>
        <dd class = "col-sm-10 text-white">
            @Html.DisplayFor(actor => actor.FirstName)
        </dd>
        <dt class = "col-sm-2 text-dark bg-light">
            @Html.DisplayNameFor(actor => actor.LastName)
        </dt>
        <dd class = "col-sm-10 text-white">
            @Html.DisplayFor(actor => actor.LastName)
        </dd>
        <dt class = "col-sm-2 text-dark bg-light">
            @Html.DisplayNameFor(actor => actor.CreatedOn)
        </dt>
        <dd class = "col-sm-10 text-white">
            @Html.DisplayFor(actor => actor.CreatedOn)
        </dd>
        <dt class = "col-sm-2 text-dark bg-light">
            @Html.DisplayNameFor(actor => actor.ModifiedOn)
        </dt>
        <dd class = "col-sm-10 text-white">
            @Html.DisplayFor(actor => actor.ModifiedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back To Actors List</a>
</div>
