@model IEnumerable<Subsogator.Web.Models.Actors.ViewModels.AllActorsViewModel>

@{
    ViewData["Title"] = "Actors List";
}

<h3>@ViewData["Title"]</h3>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Actor</a>
</p>
@if (TempData["ActorSuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["ActorSuccessMessage"]
    </div>
}
<table class="table table-bordered table-dark table-striped table-hover mt-3">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var actor in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(actorModelItem => actor.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(actorModelItem => actor.LastName)
                </td>
                <td>
                    @Html.DisplayFor(actorModelItem => actor.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(actorModelItem => actor.ModifiedOn)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@actor.Id" class="btn btn-light">Edit</a>
                    <a asp-action="Details" asp-route-id="@actor.Id" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@actor.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
