@model IEnumerable<Subsogator.Web.Models.Countries.ViewModels.AllCountriesViewModel>

@{
    ViewData["Title"] = "Countries List";
}

<h3>@ViewData["Title"]</h3>

<p>
    <a asp-action="Create">Create New Country</a>
</p>
@if (TempData["CountrySuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["CountrySuccessMessage"]
    </div>
}
<table class="table table-bordered table-dark table-striped table-hover mt-3">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(country => country.Name)
            </th>
            <th>
                @Html.DisplayNameFor(country => country.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(country => country.ModifiedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var country in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(coutryModelItem => country.Name)
                </td>
                <td>
                    @Html.DisplayFor(countryModelItem => country.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(countryModelItem => country.ModifiedOn)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@country.Id" class="btn btn-light">Edit</a>
                    <a asp-action="Details" asp-route-id="@country.Id" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@country.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
